[package]
name = "npkg"
version = "0.0.1"
edition = "2021"

[dependencies]
nix-editor = "0.2.5"
clap =  { version = "3.1.6", features = ["derive"] }
owo-colors = "3.3.0"
serde_json = "1.0.79"
serde = { version = "1.0.136", features = ["derive"] }
brotli = "3.3.3"
curl = "0.4.43"